<% layout('layouts/boilerplate')%>
   <h1>make update</h1>
   <form action="/makecamp/<%=prd._id%>?_method=put" method="post">
      <div>
         <label for="title">Title</label>
         <input type="text" name="title" id="title" placeholder="Enter ItemName" value="<%=prd.title%>">
      </div>
      <div>
         <label for="location">location</label>
         <input name="location" id="location" value="<%=prd.location%>" placeholder="add location">
      </div>
      <button>Submit</button>
   </form>
   <a href="/makecamp/<%=prd._id%> ">Go Back</a>