<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Show</title>
</head>

<body>
   <h1>Show the places and locations</h1>
   <ul>
      <% for(let c of camp){%>


         <li>
            <a href="/makecamp/<%=c._id%>">
               <%= c.title%>
            </a>
         </li>
         <!-- <li>
            locations:-<%= c.location %>
         </li> -->


         <%}%>
   </ul>
   <a href="/makecamp/new">Add locations</a>
</body>

</html>