<% layout('layouts/boilerplate')%>
   <h1>Show the places and locations</h1>
   <ul>
      <% for(let c of camp){%>


         <li>
            <a href="/makecamp/<%=c._id%>">
               <%= c.title%>
            </a>
         </li>
         <!-- <li>
            locations:-<%= c.location %>
         </li> -->


         <%}%>
   </ul>
   <a href="/makecamp/new">Add locations</a>